.btn {
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-base);
  border-radius: var(--border-radius-lg);
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--transition-ease);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-light);
  float: right;
  border-radius: var(--border-radius-lg);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-light);
  float: right;
}





.btn-agrega{
  background-color: #4CAF50; /* Green */
  color: white;
  border-radius: 12px;
  float: right;
}

.btn-cancelar{
  background-color: #fa0202; /* Green */
  color: white;
  border-radius: 12px;
  float: right;
}

.MuiTableCell-root{
  width: auto-fit;
  height: auto-fit;
}

.modal-dialog{
  max-width: 1300px !important;
  height: 900px!important;
}

/********************** Sweer Alert **************************/

.swal2-container {
  z-index: 10000;
  position: fixed;
}

/********************** Sweer Alert **************************/

/*********************** Modal *******************************/
#modalinsertar {
  z-index: 1000;
  position: fixed;
}

#modalmodificar {
  z-index: 1000;
  position: fixed;
}

#modaleliminar {
  z-index: 1000;
  position: fixed;
}

.modalestante {
  z-index: 1000;
  position: fixed;
}

/*********************** Modal *******************************/

.container-fluid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.branding1{
  background-color: var(--color-primario);
}

.branding2{
  background-color:black;
}

/*.h1{
  background-color:black;
}*/

.h2{
  background-color:black;
}

.h3{
  background-color:black;
}

.relleno-general{
  background-color: var(--color-primary);
  width: auto-fit;
  height: auto-fit;
	padding-bottom: 1rem;
  font-weight: bold;
}




