/*************** INICIO BOTONES AGREGAR**************/
.btn-agregar {
  background: var(--color-text);
  color: var(--color-primary);
  font-family: var(--font-primary);
  padding: 0.35em;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: var(--font-size-md);
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.2em;
  cursor: pointer;
  float: right;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-agregar:hover {
  background-color: var(--color-text);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.btn-agregar:active {
  transform: scale(0.98) translateY(2px); /* Se hunde ligeramente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más pequeña */
}

/***************FIN BOTONES AGREGAR**************/

/***************INICIO BOTONES CANCELAR**************/
.btn-cancelar{
  background: var(--color-primary);
  color: var(--color-text);
  font-family: var(--font-primary);
  padding: 0.35em;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: var(--font-size-md);
  font-weight: 500;
  border-radius: 0.9em;
  border: 3px solid var(--color-text);
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.2em;
  cursor: pointer;
  float: left;
}

.btn-cancelar:hover{
  background-color: var(--color-text);
  color: var(--color-primary);
}
/***************FIN BOTONES CANCELAR**************/

/***************INICIO BOTONES ELIMINAR**************/

.btn-eliminar{
  background: var(--color-secondary);
  color: white;
  font-family: var(--font-primary);
  padding: 0.35em;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: var(--font-size-md);
  font-weight: 500;
  border-radius: 0.9em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.2em;
  cursor: pointer;
  float: right;
}

.btn-eliminar:hover{
  background-color: var(--color-text);
  color: var(--color-primary);
}
/***************FIN BOTONES ELIMINAR**************/

/*************** INICIO BOTONES AÑADIR**************/
.btn-añadir {
  background: var(--color-primary);
  color: var(--color-text);
  font-family: var(--font-primary);
  padding: 0.35em;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: var(--font-size-md);
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.2em;
  cursor: pointer;
  float: right;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-añadir:hover{
  background-color: var(--color-text);
  color: var(--color-primary);
}
/*************** FIN BOTONES AÑADIR**************/


.MuiTableCell-root{
  width: auto-fit;
  height: auto-fit;
}

.modal-dialog{
  max-width: 1300px !important;
  height: 900px!important;
}

/********************** Sweer Alert **************************/

.swal2-container {
  z-index: 10000;
  position: fixed;
}

/********************** Sweer Alert **************************/

/*********************** Modal *******************************/
#modalinsertar {
  z-index: 1000;
  position: fixed;
}

#modalmodificar {
  z-index: 1000;
  position: fixed;
}

#modaleliminar {
  z-index: 1000;
  position: fixed;
}

.modalestante {
  z-index: 1000;
  position: fixed;
}

/*********************** Modal *******************************/

/*.container-fluid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}*/

.container-header {
  background-color: var(--color-primary);
  width: auto-fit;
  height: auto-fit;
	padding: 7% 5% 5% 5%;
  font-weight: bold;
  margin-top: -2%;
  color: var(--color-text);
}

.branding1{
  background-color: var(--color-primario);
}

.branding2{
  background-color:black;
}

/*.h1{
  background-color:black;
}*/

.h2{
  background-color:black;
}

.h3{
  background-color:black;
}

.relleno-general{
  background-color: var(--color-primary);
  width: auto-fit;
  height: auto-fit;
	padding: 5% 5% 5% 5%;
  margin: 5% 5% 5% 5%;
  color: var(--color-text);
  font-weight: bold;
}

.relleno-eliminar{
  background-color: var(--color-secondary);
  width: auto-fit;
  height: auto-fit;
	padding: 5% 5% 5% 5%;
  margin: 5% 5% 5% 5%;
  color: var(--color-text);
  font-weight: bold;
}

.container-footer {
  background-color: var(--color-primary);
  width: auto-fit;
  height: auto-fit;
	padding: 5% 5% 7% 5%;
  font-weight: bold;
}